@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Telegram:</h3>
<address>
     <a href="https://t.me/AndrewFedotov"><strong>Andrey Fedotov</strong></a><br />
     <a href="https://t.me/vadimshmelev"><strong>Vadim Shmelev</strong></a><br />
</address>