@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Food Constructor</h1>
    <p class="lead">Create and get fresh meal as you want</p>
</div>

<li>@Html.ActionLink("Companies", "Companies", "Home")</li>
<li>@Html.ActionLink("Issue Points", "IssuePoints", "Home")</li>
<li>@Html.ActionLink("Orders", "Orders", "Home")</li>
