.center {
    margin: 0 auto;
    width: 80%;
}

.btn-size {
    width: 250px;
    margin-top: 15px;
}

.mfont {
    font-family: 'Amatic SC', bold;
    font-size: 30px;
}

.mfont.head {
    font-family: 'Amatic SC', bold;
    font-size: 50px;
}