<div class="row" style="width: 250px; font-family: 'Amatic SC', bold; font-size: 20px;">
  <p class="bg-success" style="width: 250px; font-family: 'Amatic SC', bold; font-size: 25px;">Nutritional Values:</p>
  <p class="bg-info">
    <kbd class="col-md-6">Calories:</kbd>
    <label class="col-md-6 text-center">{{indicators.CaloricValue}}</label>
  </p>
  <p class="bg-info">
    <kbd class="col-md-6">Proteins:</kbd>
    <label class="col-md-6 text-center">{{indicators.Proteins}}</label>
  </p>
  <p class="bg-info">
    <kbd class="col-md-6">Fats:</kbd>
    <label class="col-md-6 text-center">{{indicators.Fats}}</label>
  </p>
  <p class="bg-info">
    <kbd class="col-md-6">Carbohydrates:</kbd>
    <label class="col-md-6 text-center">{{indicators.Carbohydrates}}</label>
  </p>
</div>