<div class="row mfont" style="width: 250px;">
  <p class="bg-success mfont head">Nutritional Values:</p>
  <p class="bg-info">
    <kbd class="col-md-6 mfont">Calories:</kbd>
    <label class="col-md-6 text-center">{{indicators.CaloricValue}}</label>
  </p>
  <p class="bg-info">
    <kbd class="col-md-6 mfont">Proteins:</kbd>
    <label class="col-md-6 text-center">{{indicators.Proteins}}</label>
  </p>
  <p class="bg-info">
    <kbd class="col-md-6 mfont">Fats:</kbd>
    <label class="col-md-6 text-center">{{indicators.Fats}}</label>
  </p>
  <p class="bg-info">
    <kbd class="col-md-6 mfont">Carbohydrates:</kbd>
    <label class="col-md-6 text-center">{{indicators.Carbohydrates}}</label>
  </p>
</div>